/* Color Palette
# - color 1 #000000 Black
# - color 2 #009CD9 Light Blue
# - color 3 #FFFFFF White
# - color 4 #FFDD00 Yellow
# - color 5 #00D932 Green
*/

/* Global styles 
------------------------------------*/
html, body {
	background: #000000; /* Black */
	margin: 0;
}
body {
	font-family: 'Merriweather', serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: #009CD9;
	line-height: 1.8;
}
p {
	margin-bottom: 1em;
    font-size: 1.05em;
}
a {
	color: rgb(0, 0, 0);
}

/* Header & Footer 
------------------------------------*/
header {
    font-family: 'Roboto Mono', monospace;
    background: #009CD9;
    padding: 40px 20px;
}
footer {
    font-family: 'Roboto Mono', monospace; 
    background: #009CD9; 
    padding: 25px 20px;
    border-top: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: .85em;
    line-height: 2em;
    margin-top: 1em;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(0, 0, 0);
}
h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 42px;                       
	font-weight: 700;
	margin-bottom: .4em;
	color: rgb(0, 0, 0);
}
h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 26px;                       
	font-weight: 600;
	margin-bottom: .4em;
}
h3 {
	font-family: 'Merriweather', serif;    
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: .2em;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid rgb(0, 0, 0);
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #FFDD00;
  padding: 35px 20px;
}

/* Education
------------------------------------*/
.education {
  background: #00D932;
  padding: 35px 20px;
}
